<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
  <div class="mdl-tabs__tab-bar">
    <a href="#new-panel" class="mdl-tabs__tab is-active">New Survey</a>
    <a href="#existing-panel" class="mdl-tabs__tab">Existing Surveys</a>
  </div>
  <div class="mdl-tabs__panel is-active" id="new-panel">
    <br>
    <form id="new-survey">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="title" name="title" />
        <label class="mdl-textfield__label" for="title">Title</label>
      </div>
      <div>
        <h5>Choices <button id="add-choice" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" tabindex="-1"><i class="material-icons">add</i></button></h5>
      </div>
      <table id="choices-list"></table>
      <div>
        <input type="submit" value="Create" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"/>
      </div>
    </form>
  </div>
  <div class="mdl-tabs__panel" id="existing-panel">
    <ul id="survey-list">
      <% if (surveys.length > 0) { %>
        <% for (var i = 0; i < surveys.length; i++) { %>
        <li><a href="/admin/surveys/<%= surveys[i].id %>"><%= surveys[i].title %></a></li>
        <% } %>
      <% } else { %>
        <li>You have not created any surveys.</li>
      <% } %>
    </ul>
  </div>
</div>

<script src="/javascripts/admin.js"></script>
