<% if (survey) { %>
<div class="mdl-card mdl-shadow--2dp wrapper">
  <div class="mdl-card__title text-center">
    <h2 class="mdl-card__title-text"><%= survey.title %></h2>
  </div>
  <div>
    <form action="saveResponse" method="post">
      <div class="mdl-card__supporting-text">
        <% for (var i = 0; i < survey.SurveyChoices.length; i++) { %>
        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="<%= survey.SurveyChoices[i].id %>">
          <input class="mdl-radio__button" type="radio" name="choice_id" id="<%= survey.SurveyChoices[i].id %>" value="<%= survey.SurveyChoices[i].id %>">
          <span class="mdl-radio__label"><%= survey.SurveyChoices[i].name %></span>
        </label><br>
        <% } %>
      </div>
      <input type="hidden" name="survey_id" value="<%= survey.id %>">
      <div class="mdl-card__actions mdl-card--border text-center">
        <input type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored" value="Submit" disabled />
      </div>
    </form>
  </div>
</div>
<% } else { %>
<h3 class="">You have completed all surveys, you rockstar!</h3>
<% } %>

<script>
// quick and dirty client validation to only enable after selection
$(":radio").change(function () {
  $(':submit').prop('disabled', false);
});
</script>