<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/alerts.css">
  <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.indigo-pink.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title"><a href="/"><i class="md-icon dp48"></i></a><%= title %></span>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation mdl-layout--large-screen-only">
          <a class="mdl-navigation__link" href="/">Home</a>
          <% if (!user) { %>
          <a class="mdl-navigation__link" href="/login">Admin Login</a>
          <% } else { %>
          <a class="mdl-navigation__link" href="/admin">Your surveys</a>
          <a class="mdl-navigation__link" href="/logout">Logout</a>
          <% } %>
        </nav>
      </div>
    </header>
    <div class="mdl-layout__drawer mdl-layout--small-screen-only">
      <span class="mdl-layout-title">Menu</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="/">Home</a>
        <% if (!user) { %>
        <a class="mdl-navigation__link" href="/login">Admin Login</a>
        <% } else { %>
        <a class="mdl-navigation__link" href="/admin">Your surveys</a>
        <a class="mdl-navigation__link" href="/logout">Logout</a>
        <% } %>
      </nav>
    </div>

    <div id="alert-area">
      <% if (errors.length > 0) { %>
      <div class="alert alert-error"><%= errors %></div>
      <% } %>
      <% if (success > 0) { %>
      <div class="alert alert-success"><%= success %></div>
      <% } %>
    </div>

    <main class="mdl-layout__content mdl-cell--middle">
      <div class="mdl-grid mdl-cell mdl-cell--12-col mdl-grid--no-spacing">
        <%- body %>
      </div>
    </main>
  </div>

  <script src="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <%- script %>
</body>
</html>
