<div class="mdl-card mdl-shadow--2dp wrapper">
  <div class="mdl-card__title text-center">
    <h2 class="mdl-card__title-text">Login</h2>
  </div>
  <form action="/login" method="post">
    <div class="mdl-card__supporting-text">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
        <input class="mdl-textfield__input" type="text" id="username" name="username" />
        <label class="mdl-textfield__label" for="username">Username</label>
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
        <input class="mdl-textfield__input" type="password" id="password" name="password" />
        <label class="mdl-textfield__label" for="password">Password</label>
      </div>
    </div>
    <div class="mdl-card__actions mdl-card--border text-center">
      <input type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored" value="Submit"/>
    </div>
  </form>
</div>
