<style>
  table { 
    table-layout: fixed;
    width: 100%
  }
  td {
    white-space: -o-pre-wrap; 
    word-wrap: break-word;
    white-space: pre-wrap; 
    white-space: -moz-pre-wrap; 
    white-space: -pre-wrap; 
  }
  .new {
    width: 60%;
  }
</style>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col"><h3>Results for: <%= results[0].title %></h3></div>
  <div class="mdl-cell mdl-cell--12-col"><h4>Response total: <%= totalResponses %></h4></div>
  <table id="choice-list" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric new">Choice</th>
        <th># Responses</th>
        <th>% Responses</th>
      </tr>
    </thead>
    <tbody>
      <% for (var i = 0; i < results.length; i++) { %>
      <tr>
        <td class="mdl-data-table__cell--non-numeric new"><%= results[i].name %></td>
        <td><%= results[i].ResponseCount %></td>
        <td><%= results[i].ResponseCount > 0 ? Math.round(results[i].ResponseCount / totalResponses * 100) : 0 %>%</td>
      </tr>
      <% } %>
    </tbody>
  </table>
  <div class="mdl-cell mdl-cell--12-col"><p style="margin-top: 2em;"><a href="/admin" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Back</a></p></div>
</div>
